LYZR_API_KEY=curl -X POST 'https://agent-prod.studio.lyzr.ai/v3/inference/chat/' \
            -H 'Content-Type: application/json' \
            -H 'x-api-key: sk-default-4ihP8Xqj1dUPYqGxYmRoWNiSpdC7RS4A' \
            -d '{
              "user_id": "jghatodhar77@gmail.com",
              "agent_id": "69f5ee3b492d085f87b994e4",
              "session_id": "69f5ee3b492d085f87b994e4-vy3austhb0m",
              "message": ""
              }'
AGENT_ID=
